extends admin

block details
    form(id='addProduct', action='/admin/products/add', method='POST')
        label(for='name') Nombre del Producto
        br
        input(type='text', id='name', name='name', placeholder='Product Name', required=true)
        br

        label(for='category') Categoria
        br
        select(id='category', name='category')
            each category in categories
                option(value=category.CategoryID)= category.CategoryName
        br

        label(for='price') Precio del Producto
        br
        input(type='text', id='price', name='price', placeholder='125.88', required=true)
        br

        label(for='unit') Unidad en Stock
        br
        input(type='text', id='unit', name='unit', placeholder='12', required=true)
        br

        label(for='description') Descripcion
        br
        textarea(id='description', name='description', required=true) Product Description
        br

        label(for='year') Fecha de Fabricacion
        br
        input(type='text', id='year', name='year', placeholder='2020', required=true)
        br

        label(for='image') Imagen del Producto
        input(type='file', id='image', name='image')
        br

        p
            b Producto Destacado
        label(for='featureYes') Si
        input(type='radio', id='featureYes', name='feature', value=1)

        label(for='featureNo') No
        input(type='radio', id='featureNo', name='feature', value=0)
        br

        button.btn.btn-default(type='submit') Actualizar