extends admin

block details
    .row
        .col-sm-8
            h5 Informacion Del Pedido
                .table-responsive.cart_info
                    table.table.table-condensed
                        thead
                            tr.cart_menu
                                td.image
                                td.description Producto
                                td.price Precio Unitario
                                td.quantity Cantidad
                                td.total Total
                        tbody
                            each product in products
                                -var quantity = product.Quantity;
                                -var name = product.ProductName;
                                -var productLink = '/cat/' + product.CategorySlug + '/' + product.ProductSlug;
                                -var unitPrice = product.ProductPrice;
                                -var productTotal = product.Total;
                                tr
                                    td.cart_product
                                        a(href=productLink)
                                            img(src='/img/products/' + product.Image, alt=name)
                                    td.cart_description
                                        h4
                                            a(href=productLink)= name
                                        p= product.Description
                                    td.cart_price
                                        p= unitPrice + ' $'
                                    td.cart_quantity
                                        p=quantity
                                    td.cart_total
                                        p.cart_total_price= productTotal + ' $'
        .col-sm-4
            .table-responsive.cart_info
                table.table.table-condensed.total-result
                    thead
                        tr.cart_menu
                            td(colspan=2) Direccion de Entrega
                    tbody
                        tr
                            td Nombre Completo
                            td= address.FullName
                        tr
                            td Direccion
                            td= address.StreetAddress
                        tr
                            td
                            td= address.PostCode + ' ' + address.City
                        tr
                            td
                            td= address.Country
                        tr
                            td Tel
                            td= address.Phone

    .row
        .col-sm-6
            h3= 'Actualizacion Estado del Pedido #' + order.OrderID
            form(id='updateStatus', action='/admin//orders/' + order.OrderID + '/update', method='POST')
                select(id='status', name='status')
                    option(value='Order Received', selected) Pedido Recibido
                    option(value='Procesando') Procesando
                    option(value='Procesado') Procesado
                    option(value='Entregado') Entregado
                br
                button.btn.btn-default(type='submit') Verificar
        .col-sm-6
            .table-responsive.cart_info
            table.table.table-condensed.total-result
                thead
                    tr.cart_menu
                        td(colspan=2) Resumen del Pedido

                tbody
                    tr
                        td Sub Total
                        td= order.SubTotal + ' $'
                    tr
                        td Descuento
                        td= order.Discount + ' $'
                    tr.shipping-cost
                        td Costo de Envio
                        if order.ShippingFee == 0
                            td Free
                        else
                            td= order.ShippingFee + ' $'
                    tr
                        td Total
                        td
                            span= order.Total + ' $'
