extends ../layout

block content
    section#cart_items
        .container
            .step-one
                h2.heading Direccion de Entrega
            .checkout-options
                h3
                    i Es la direccion que aparece a continuacion?
                        | Si es asi haga click en el boton "Entergar en esta direccion".
                        br
                        | O puede ingresar una nueva direccion.
            .row
                if addresses
                    each address in addresses
                        .cus-name.col-sm-4
                            h4= address.FullName
                            p
                                span= address.StreetAddress
                                br
                                span= address.PostCode + ' ' + address.City
                                br
                                span= address.Country
                            p= 'Tel: ' + address.Phone

                            form(action='/checkout/delivery/' + address.AddressID, method='POST')
                                input.dev-btn.btn.btn-default.add-to-cart(type='submit', value='Entregar a esta Direccion')
            .step-one#new-address
                h2.heading Nueva direccion de entrega

            .checkout-options
                h3
                    i Asegurese de hacer click en "Enviar a esta Dirección" al finalizar.

            .shopper-informations
                .row
                    .bill-to
                        form(action='/checkout/delivery/new', method='POST')
                            .col-sm-1.clearfix
                            .col-sm-5.clearfix
                                label(for='fullName') Nombre Completo
                                input(type='text', id='fullName', name='fullName')
                                br
                                label(for='streetAddress') Direccion
                                input(type='text', name='streetAddress', id='streetAddress')
                                br
                                label(for='postcode') Codigo Postal
                                input(type='text', name='postcode', id='postcode')
                                br
                                label(for='city') Ciudad
                                input(type='text', name='city', id='city')
                                br
                                label(for='country') Provincia
                                input(type='text', name='country', id='country')
                                br
                                label(for='phone') Telefono
                                input(type='tel', name='phone', id='phone')
                                br
                                br
                                input.dev-btn.btn.btn-default.add-to-cart(type='submit', value='Entregar a esta Direccion')